{% extends 'bootstrap/base.html' %}

{% block head %}
{# figure out how to style with bootstrap - until then I'm doing it this way #}
<style type="text/css">
body {font-family: sans-serif;}
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc; margin-left: auto; margin-right: auto}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
{%  endblock %}

{%  block title %}
    {%  if title %} {{ title }}{% else %}TOS{% endif %}
{%  endblock %}

{%  block navbar %}
    <nav class="navbar navbar-default">

    </nav>
{%  endblock %}

{%  block content %}
    <div class="container">

        {% block app_content %}{%  endblock %}
    </div>
{% endblock %}