{% extends 'base.html' %}

{% block content %}

<h1 style="text-align: center">Welcome to ToS</h1>

<p><h3 style="text-align: center">The current holder is:</h3>

<p  style="text-align: center; font-size: 60pt;">{{ holder }}</p>
<p style="text-align: center"><img src="../static/tos.png" /></p>

<p style="font-weight: bold; font-size: 18pt; text-align: center">Award the token
    <div class="container">
        <form method="POST" action="/" style="align">
            {{ form.hidden_tag() }}

            {{ form.reporter.label }}
            {{ form.reporter() }}<br>

            {{ form.nominee.label }}
            {{ form.nominee() }}<br>

            {{ form.category.label }}
            {{ form.category() }}<br>

            {{ form.submit() }}
        </form>
    </div>
</p>

<p style="font-weight: bold; font-size: 18pt; text-align: center;">Most Recent Awards</p>
<table class="tg">
    <thead>
        <tr>
            <th class="tg-1wig">Date</th>
            <th class="tg-amwm">Recipient</th>
            <th class="tg-amwm">Category</th>
        </tr>
    </thead>
    <tbody>
        {%  for event in events %}
        <tr>
            <td class="tg-0lax">{{ event[0] }}</td>
            <td class="tg-baqh">{{ event[1] }}</td>
            <td class="tg-baqh">{{ event[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}